<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memduhtutus.tryingbilgym">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TryingBilgym">
        <activity
            android:name=".SettingPassword"
            android:exported="false" />
        <activity
            android:name=".jkvhbjkljkbh"
            android:exported="false" />
        <activity
            android:name=".PersonalInfoScreen"
            android:exported="false" />
        <activity
            android:name=".ProgressTrackingScreen"
            android:exported="false" />
        <activity
            android:name=".PersonalTrainerScreen"
            android:exported="false" />
        <activity
            android:name=".MatchmakingScreen"
            android:exported="false" />
        <activity
            android:name=".GymAppointmentScreen"
            android:exported="false" />
        <activity
            android:name=".GetAppointmentScreen"
            android:exported="false" />
        <activity
            android:name=".CreateEventScreen"
            android:exported="false" />
        <activity
            android:name=".CancelActivityScreen"
            android:exported="false" />
        <activity
            android:name=".AvailableEventScreen"
            android:exported="false" />
        <activity
            android:name=".PersonalInfo"
            android:exported="false" />
        <activity
            android:name=".SetScreen"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="false" />
        <activity
            android:name=".SignUpScreen"
            android:exported="false" />
        <activity
            android:name=".LogInScreen"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>